<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Current weather service.</title>
</head>
<body>
    <h1 align="center">Current weather service.</h1>
    <div align="center">
        <div style="border:1px #777 solid; padding: 20px; margin: 20px; max-width: 30%; align-content: center;">
            <div>
                <form method="post" action="/">
                    <input type="text" name="name" placeholder="Введите город" /><br><br>
                    <input type="text" name="country" placeholder="Введите код страны"/><br><br>
                    <button type="submit">Найти</button>
                </form>
            </div>
            <div>{{title}}</div>
            {{#currentWeather}}
                <div>
                    <b>{{name}}, {{country}}: {{temp}}C</b>
                </div>
            {{/currentWeather}}
        </div>
    </div>

</body>
</html>